<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
    </head>
    <body class="position-relative" data-bs-spy="scroll">
        <%- include('./partials/about.ejs') %>
        <%- include('./partials/scripts.ejs') %>
    </body>
</html>