<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="../css/bootstrap.min.css"/>
  <link href="../css/portfolio/navbar.css" rel="stylesheet">
  <link href="../css/portfolio/services.css" rel="stylesheet">
    <body class="position-relative" data-bs-spy="scroll">
        <%- include('./partials/navbar.ejs') %>
      <div data-spy="scroll" data-target="#navbar" data-offset="0">
        <%- include('./partials/portifolio.ejs') %>
        <%- include('./partials/scripts.ejs') %>
    </body>
</html>